In [1]:
import pandas as pd
import datetime
from tqdm import tqdm
from wordle_base import run_simulations as rl_base
from wordle_cluster import run_simulations as rl_cluster
from wordle_cluster_modified import run_simulations as rl_cluster_2
from wordle_greedy_search import run_simulations as greed_search
from wordle_greedy_search_modified import run_simulations as greed_search_2

results = pd.DataFrame(columns=['time_taken', 'average_guesses', 'win_rate', 'guesses'])
for i in tqdm(range(5)):
    if i == 0:
        time_taken, average_guesses, win_rate, guesses = rl_base(learning_rate=0.1, exploration_rate=0.8, shrinkage_factor=0.8, num_simulations=100)
        results.loc[0] = [time_taken, average_guesses, win_rate, guesses]
    elif i == 1:
        time_taken, average_guesses, win_rate, guesses = rl_cluster(learning_rate=0.1, exploration_rate=0.5, number_of_cluster=6 ,shrinkage_factor=0.9, num_simulations=1000)
        results.loc[1] = [time_taken, average_guesses, win_rate, guesses]
    elif i == 2:
        time_taken, average_guesses, win_rate, guesses = rl_cluster_2(learning_rate=0.001, exploration_rate=0.9, number_of_cluster=9, shrinkage_factor=0.9, num_simulations=1000)
        results.loc[2] = [time_taken, average_guesses, win_rate, guesses]
    elif i == 3:
        time_taken, average_guesses, win_rate, guesses = greed_search(num_simulations=1000)
        results.loc[3] = [time_taken, average_guesses, win_rate, guesses]
    elif i == 4:
        time_taken, average_guesses, win_rate, guesses = greed_search_2(num_simulations=1000)
        results.loc[4] = [time_taken, average_guesses, win_rate, guesses]

# get today date and time as string
today = datetime.date.today()
today = today.strftime("%d%m%Y")

results.to_csv('evaluation_results/{}_results.csv'.format(today), index=False)

 80%|████████  | 4/5 [04:30<00:53, 53.76s/it]

Time taken: 6.5157952308654785
Average guesses: 5.594
Total game losses out of 1000: 286
Overall win rate: 71.39999999999999%

100%|██████████| 5/5 [04:37<00:00, 55.49s/it]

Time taken: 6.545577764511108
Average guesses: 5.469
Total game losses out of 1000: 254
Overall win rate: 74.6%

In [2]:
results

,time_taken,average_guesses,win_rate,guesses
0,13.359450,6.190,64.0,"[7.0, 5.0, 5.0, 10.0, 4.0, 5.0, 3.0, 7.0, 7.0,..."
1,240.922914,4.934,87.0,"[4.0, 5.0, 3.0, 8.0, 4.0, 3.0, 4.0, 3.0, 5.0, ..."
2,9.950510,4.112,97.5,"[4.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0, 3.0, ..."
3,6.515795,5.594,71.4,"[11.0, 3.0, 5.0, 7.0, 6.0, 12.0, 6.0, 7.0, 2.0..."
4,6.545578,5.469,74.6,"[4.0, 7.0, 5.0, 7.0, 4.0, 4.0, 4.0, 5.0, 3.0, ..."

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt

epochs = np.arange(1000)
plt.plot(epochs, results  )